@using DevComponents.DotNetBar
@model SaTeknopark_MVC5.Models.INVOICE
@{
    ViewBag.Title = "Yeni Satış";
    string class1 = "col-lg-12";
    string class2 = "gosterme";
    string cl_atagosterme = "goster";
    string disabled = "";
    string Tipi = "Sevk İrsaliyesi";
    string FiyatTipi = "1.Fiyat";
    string caricol = "col-lg-6";
    string cl_MiktarBirim2 = "gosterme";
}




<style>
    .gosterme {
    }
</style>
<div>
    <div class="row">
        <div class="col-lg-9">

            <button id="fd" class="btn btn-primary">FD</button>
            <button id="FGOR" class="btn btn-primary">F.GÖR</button>
            <button id="Tahsilatekele" class="btn btn-primary">TAHSİLAT EKLE</button>
            <button id="fiyatguncelle" class="btn btn-primary">FİYAT GÜNCELLE</button>
            <button id="YeniStok" class="btn btn-primary">YENİ STOK EKLE</button>
            <button id="KasaDevri" class="btn btn-primary">KASA DEVRİ</button>
            <button id="SatisListesi" class="btn btn-primary">SATIŞ LİSTESİ</button>
            <button id="Gunsonuraporu" class="btn btn-primary">GÜN SONU RAPORU</button>
        </div>
        <div class="col-lg-3">
            <label> <span style="font-size: large"> <h3> TOPLAM: 3.95 </h3> </span></label>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-lg-9">
            <button id="Nakit" class="btn btn" style="width: 166px;background-color: coral">NAKİT</button>
            <button id="KrediKarti" class=" btn btn" style="width: 166px;background-color:aqua">KREDİ KARTI</button>
            <button id="Havale" class="btn btn" style="width: 166px; background-color: darkred;color: white">HAVALE</button>
            <button id="Parcali" class="btn btn" style="width: 166px; background-color: indigo; color:white">PARÇALI</button>
            <button id="CariSatis" class="btn btn" style="width: 166px; background-color: aquamarine">CARİ SATIŞ</button>

        </div>
        <div class="col-lg-3">

            <label> BARKOD : </label> <input id="barkod" type="number" style="width: 166px" value="" />


        </div>

    </div>

    <div class="row pt-4 pl-3">


        <div style="width: 60%;float: left">
            <br />
            <div class="ibox-content">


                <table id="example" class="display table table-striped table-hover" style="width:100%">
                    <thead style="color:white; background-color:cadetblue;">
                        <tr>
                            <th style="width: 5%"></th>
                            <th style="width: 5%">Ekle</th>
                            <th style="width: 5%">Çıkart</th>
                            <th style="width: 65%">Ürün Adı</th>
                            <th align="right" style="width: 5%">Miktar</th>
                            <th align="right" style="width: 5%">Fiyat </th>
                            <th align="right" style="width: 5%">Tutar </th>
                            <th style="width: 5%">Sil/FD</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>



            </div>



        </div>

        <div style="width: 39%; float: left">

            <div class="wrapper wrapper-content animated fadeInRight" style="">

                <div class=" px-3">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Ürün Listesi</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">Satış</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div style="background-color: white" class="row">
                                        @foreach (var item in ViewBag.Urunler)
                                        {
                                            decimal fiyat = Convert.ToDecimal(item.SatishFiyat);

                                            <div font-family:'Century Gothic'" class="col-md-4 px-1">
                                                <div class="card card-stats">
                                                    <div class="card-body ">

                                                        <div>
                                                            <ab onclick="Ekle()" id="@item.ID">

                                                                @if (item.StokBase64 == null)
                                                                {
                                                                    <a  onclick="AddRow()">
                                                                        <img url align="middle"
                                                                             style="height: 75px; width: 80%;" src="~/Content/300.png" />
                                                                    </a>

                                                                }
                                                                else
                                                                {
                                                                    var base64 = Convert.ToBase64String(item.StokBase64);
                                                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                                                    <a onclick="AddRow()">
                                                                        <img style="object-fit: scale-down; height: 50px; width: 100%;" src="@imgSrc" />
                                                                    </a>
                                                                }
                                                                <hr>
                                                                <a><b> @item.UrunAdi </b></a>
                                                            </ab>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div style="background-color: white" class="container-fluid">

                                        <div class="row" align="center">
                                            <div class="col-3">
                                                <label>Satış Tutarı : </label>
                                            </div>
                                            <div class="col-4">
                                                <label id="Satistutari"> 0.00 TL</label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" align="center">
                                            <div class="col-3">
                                                <label>İndirim : </label>
                                            </div>
                                            <div class="col-4">
                                                <label id="IndirimTutari"> 0.00 TL</label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row" align="center">
                                            <div class="col-3">
                                                <label>Para Üstü : </label>
                                            </div>
                                            <div class="col-4">
                                                <label id="ParaUstu"> 0.00 TL</label>
                                            </div>
                                        </div>
                                        <br /> <br /> <br />

                                        <div class="row" align="left">
                                            <div class="col-7 text-right">
                                                <small>Seçilen Tahsilat Tipi: </small>
                                            </div>
                                            <div class="col-3 pl-0">
                                                <small id="SecilenTahsilat" style="color: crimson"> KREDİ KARTI</small>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row" align="left">
                                            <div class="col-4">
                                                <label>İndirim: </label>
                                            </div>
                                            <div class="col-4">
                                                <input id="indirim" value="0.00" type="number" step="0.01" />
                                            </div>
                                        </div>
                                        <br /><br />
                                        <div class="row" align="left">
                                            <div class="col-4">
                                                <label>Nakit Tutar: </label>
                                            </div>
                                            <div class="col-4">
                                                <input id="NakitOdeme" value="0.00" type="number" step="0.01" />
                                            </div>
                                        </div>
                                        <div class="row" align="left">
                                            <div class="col-4">
                                                <label>Kredi Kartı Tutarı: </label>
                                            </div>
                                            <div class="col-4">
                                                <input id="KrediKOdeme" value="0.00" type="number" step="0.01" />
                                            </div>
                                        </div>

                                        <div class="row" align="left">
                                            <div class="col-4">
                                                <label>Taksitli Ödeme: </label>
                                            </div>
                                            <div class="col-4">
                                                <input id="TasitliOdeme" value="0.00" type="number" step="0.01" />
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row" align="left">
                                            <div class="col-9 pr-0">

                                                @Html.DropDownList("ThisBankaID", new SelectList(AyarMetot.Bankalar(Session["FirmaID"].ToString()), "Value", "Text", 1),
                                                    new { @id = "ThisBankaID", @class = " form-control", @style = "font-size:small" })

                                            </div>
                                        </div>
                                        <br /> <br />

                                        <div class="row" align="left">
                                            <div class="col-4 pr-0">

                                                <button onclick="" style="color: black;  border-color: crimson" type="button" class="form-control btn btn-danger">Çıkış </button>

                                            </div>
                                            <div class="col-5 pr-0">
                                                <button onclick="" style="color:black; border-color: green" type="button" class="form-control btn btn-info">Kaydet </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>




</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2Styles")

}
@section Scripts {

    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataTables")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/musteri.js"></script>

    <script type="text/javascript">

        function FiyatGetir(id, brk) {

            $.ajax({
                type: "GET",
                "datatype": "json",
                url: '/Tables/StokBilgi?id=' + id+'&Brk='+brk,
                success: function (gt) {
                    if (gt.success) {

                        if (gt.kodbulundu) {
                            $("#Barkod").val(gt.data.Barkod);
                        } else {

                            $("#StokKodu").select2("val", gt.data.ID);

                        }

                        $("#Birim").val(gt.data.Birimi);
                        $("#BirimFiyati").val(Number(gt.data.SatishFiyat).toFixed(2).replace(".", ","));
                        $("#KDV").val(gt.data.KDV);
                        Topla();


                    }
                }

            });

        }

        function RaporGoster(id,type) {


            var win = null;


            if (type == "SI" || type == "YI") {

                win = window.open("/Adv/IrsaliyeYazdir?ID=" + id);

            }

            else if (type == "DI") {

                win = window.open("/Adv/DepoIslemYazdir?ID=" + id);

            }
            else if (type == "T" || type == "G" || type == "KKT") {

                win = window.open("/Adv/TahsilatYazdir?ID=" + id);

            }
            win.focus();

        }

        function temizle() {
            $("#StokKodu").select2("val", "0");
            $("#Miktar").val("1");
            $("#Tutar").val("0");
            $("#Birim").val("Adet");
            $("#BirimFiyati").val("0");
            $("#KDV").val("18");
            $("#Barkod").val(" ");
        }

        function btnVazgec() {
            window.history.back();
        }

        function dipToplam() {
            var bruttoplam = 0;
            var geneltoplam = 0;
            var toplamkdv = 0;
            var toplamkdv = 0;
            var toplamisk = 0;
            var kdvdurum = $("#KdvDh").val();

            $("#siparis tbody tr").each(function () {
                var geneltut = 0;
                var eklenecektutar = 0;
                var sonuc = 0;
                var tut = $(this).find("td:eq(6) .tutar").val().replace(",", ".");
                var kdv = $(this).find("td:eq(7) .kdv").val();
                var eklenecek = 0;

                if ($("#KdvDh").val() == "H") {
                    geneltut = tut * parseFloat(kdv);
                    eklenecektutar = geneltut / 100;
                    sonuc = parseFloat(tut) + eklenecektutar;
                    bruttoplam += parseFloat(tut);
                    geneltoplam += sonuc;
                    toplamkdv += eklenecektutar;
                } else {
                    eklenecek = parseFloat(kdv) + 100;
                    geneltut = tut;
                    geneltut = geneltut * 100;
                    sonuc = geneltut / eklenecek;
                    geneltoplam += parseFloat(tut);
                    bruttoplam += sonuc;
                    toplamkdv += parseFloat(tut) - sonuc;
                }

            });


            $("#Brut").val(Number(bruttoplam.toFixed(2)));
            $("#Genel").val(Number(geneltoplam.toFixed(2)));
            $("#toplamKdv").val(Number(toplamkdv.toFixed(2)));
        }
        function GenelTopla(event) {
            var $row = $(event).closest("tr");

            var Fiy = $row.find("td:eq(3) .birimfiyat").val().replace(",", ".");
            var Mik = $row.find("td:eq(1) .miktar").val().replace(",", ".");
            var kdv = $row.find("td:eq(7) .kdv").val().replace(",", ".");


            var total = 0;
            total = parseFloat(Mik) * parseFloat(Fiy);



            var sayi = total;
            sayi = Number(sayi.toFixed(2));

            $row.find("td:eq(6) .tutar").val(sayi);

            dipToplam();
        }


        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }


        //Sepete Ekle
        $(document).on("click", ".sepeteEkle", function (event) {
            var geneltoplam = 0;
            var kaydet = true;
            var id = $(event.target).closest("ab").attr('id');


            var StkKod = $("#StokKodu").val();

            var StkUrunAdi = $("#StokKodu :selected").text();
            var StkMiktar = $("#Miktar").val();
            var StkBirim = $("#Birim").val();
            var StkBirimFiyati = $("#BirimFiyati").val();
            var StkTutar = $("#Tutar").val();
            var StkKDV = $("#KDV :selected").text();
            if (id != null) {
                if (id != 0) {
                    $.ajax({
                        type: "GET",
                        "datatype": "json",
                        url: '/Fatura/StokBilgi?id=' + id,
                        success: function (gt) {
                            if (gt.success) {
                                var StkKod = gt.data.ID;
                                var StkUrunAdi = gt.data.UrunAdi;
                                var StkMiktar = 1;
                                var StkBirim = gt.data.Birimi;
                                var StkBirimFiyati = Number(gt.data.SatishFiyat).toFixed(2).replace(".", ",");


                                var StkTutar = Number(gt.data.SatishFiyat).toFixed(2).replace(".", ",");
                                var StkKDV = gt.data.KDV;
                            }
                        }
                    });
                }
            }
            else {
                if ($("#StokKodu").val() == "" || $("#StokKodu").val() == "0" || $("#StokKodu").val() == null) {
                    swal("Uyarı", "Ürün Seçiniz", "warning");
                    kaydet = false;
                }
            }

            if (kaydet) {

                document.getElementById("tblUrun").style.display = "block";

                var row = $(this).closest("tr");
                var sutunlar = {
                    UrunAdi: '<input disabled  style="font-size:smaller" type="text" class=" urunadi form-control" value="' + StkUrunAdi + '" />',
                    Miktar: '<input style="font-size:smaller" onchange="GenelTopla(this)" type="text" class="miktar form-control" value="' + StkMiktar + '" />',
                    Birim: '<input disabled style="font-size:smaller" type="text" class=" birim  form-control " value="' + StkBirim + '" />',
                    BirimFiyati: '<input  style="font-size:smaller" type="text" onchange="GenelTopla(this)" class=" birimfiyat form-control" value="' + StkBirimFiyati + '" />',
                    Birim2: '<input  style="font-size:smaller" type="text" onchange="GenelTopla(this)" class="birim2 form-control" value="' + StkBirim + '" />',
                    Miktar2: '<input style="font-size:smaller" onchange="GenelTopla(this)" type="text" class="miktar2 form-control" value="' + StkMiktar + '" />',
                    Tutar: '<input disabled style="font-size:smaller" type="text" class="tutar form-control" value="' + StkTutar + '" />',
                    KDV: '<input style="font-size:smaller" type="text" onchange="GenelTopla(this)" class=" kdv form-control" value="' + StkKDV + '" />',
                    Kaldir: '<button style="background-color:indianred;margin:0px" type="button" value="' + StkKod + '" class="btn btn-md btn-danger  sepetSil"> SİL   <i class="fa fa-trash" aria-hidden="true"></i></button>',
                    SatirID: '<button  style="background-color:indianred;margin:0px ; display:none;" type="button" value="-1" class="btn btn-md btn-danger  SatirID"> -1   <i class="fa fa-trash" aria-hidden="true"></i></button>',
                };

                temizle();
                $("#siparis tbody").append("<tr style='font-size:small;'>"+
                   " <td>" + sutunlar.UrunAdi + "</td>"+
                   " <td>" + sutunlar.Miktar + "</td>"+
                   " <td>" + sutunlar.Birim + "</td>"+
                   " <td>" + sutunlar.BirimFiyati + "</td>" +
                   " <td class='@cl_MiktarBirim2'>" + sutunlar.Miktar2 + "</td>" +
                   " <td class='@cl_MiktarBirim2'>" + sutunlar.Birim2 + "</td>" +
                   " <td>" + sutunlar.Tutar + "</td>"+
                   " <td>" + sutunlar.KDV + "</td> " +
                   " <td>" + sutunlar.Kaldir + "</td>"+
                   " <td>" + sutunlar.SatirID + "</td></tr>");
            }
            dipToplam();
        });


        function CariGetir(id) {

            $.ajax({
                type: "GET",
                "datatype": "json",
                url: '/Fatura/CariBilgi?id=' + id,
                success: function (gt) {
                    if (gt.success) {

                        $("#FTipi").val("1.Fiyat");

                        if (gt.data.StokFG != null) {
                            if (gt.data.StokFG != "") {
                                $("#FTipi").val(gt.data.StokFG);
                            }
                        }

                    }
                }

            });

        }

        var geneltoplam = 0;
        function Ekle() {
            var id = $(event.target).closest("ab").attr('id');
            var StkKod = $("#StokKodu").val();
            var StkUrunAdi = $("#StokKodu :selected").text();
            var StkMiktar = $("#Miktar").val();
            var StkBirim = $("#Birim").val();
            var StkBirimFiyati = $("#BirimFiyati").val();
            var StkTutar = $("#Tutar").val();
            var StkKDV = $("#KDV :selected").text();
            var kaydet = true;
            var cs = document.getElementById("birimID").className;
            var miktar = 1;

            var cs1 = document.getElementById("birimID").className;

            if ($("#FaturaTipi").val() == "Alım Faturası") {
                cs1 = "";

            }
            else {

                cs1 = "gosterme";
            }

            swal({
                title: "[Miktar Girişi]",
                text: "Miktar Giriniz.",
                input: 'text',
                icon: "warning",
                dangerMode: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",

                confirmButtonText: "OK",
                closeOnCancel: true,
                closeOnConfirm: true,

                preConfirm: (mkt) => {

                    miktar = mkt;

                },
                allowOutsideClick: () => !Swal.isLoading()

            }).then(function () {

                if (kaydet) {



                    if (id != null) {


                        if (id != 0) {



                            $.ajax({
                                type: "GET",
                                "datatype": "json",
                                url: '/Fatura/StokBilgi?id=' + id,
                                success: function (gt) {
                                    if (gt.success) {


                                        var StkKod = gt.data.ID;

                                        var StkUrunAdi = gt.data.UrunAdi;
                                        var StkMiktar = miktar; // buraya açılan popupdaki miktar sayısı girilecek
                                        var StkBirim = gt.data.Birimi;
                                        var StkBirimFiyati = Number(gt.data.SatishFiyat).toFixed(2).replace(".", ",");

                                        var StkTutar = Number(gt.data.SatishFiyat).toFixed(2).replace(".", ",");
                                        var StkKDV = gt.data.KDV;

                                        if ($("#FTipi").val() == "2.Fiyat") {
                                            if (Number(gt.data.F2) != 0) {
                                                StkBirimFiyati = Number(gt.data.F2).toFixed(2).replace(".", ",");
                                                StkTutar = Number(gt.data.F2).toFixed(2).replace(".", ",");
                                            }
                                        }
                                        else if ($("#FTipi").val() == "3.Fiyat") {
                                            if (Number(gt.data.F3) != 0) {
                                                StkBirimFiyati = Number(gt.data.F3).toFixed(2).replace(".", ",");
                                                StkTutar = Number(gt.data.F3).toFixed(2).replace(".", ",");
                                            }
                                        }
                                        else if ($("#FTipi").val() == "4.Fiyat") {
                                            if (Number(gt.data.F4) != 0) {
                                                StkBirimFiyati = Number(gt.data.F4).toFixed(2).replace(".", ",");
                                                StkTutar = Number(gt.data.F4).toFixed(2).replace(".", ",");
                                            }
                                        }
                                        else if ($("#FTipi").val() == "5.Fiyat") {
                                            if (Number(gt.data.F5) != 0) {
                                                StkBirimFiyati = Number(gt.data.F5).toFixed(2).replace(".", ",");
                                                StkTutar = Number(gt.data.F5).toFixed(2).replace(".", ",");
                                            }
                                        }
                                        else if ($("#FTipi").val() == "6.Fiyat") {
                                            if (Number(gt.data.F6) != 0) {
                                                StkBirimFiyati = Number(gt.data.F6).toFixed(2).replace(".", ",");
                                                StkTutar = Number(gt.data.F6).toFixed(2).replace(".", ",");
                                            }
                                        }


                                        document.getElementById("tblUrun").style.display = "block";

                                        var row = $(this).closest("tr");
                                        var sutunlar = {
                                            UrunAdi: '<input disabled  style="font-size:smaller" type="text" class=" urunadi form-control" value="' + StkUrunAdi + '" />',
                                            Miktar: '<input style="font-size:smaller" onchange="GenelTopla(this)" type="text" class="miktar form-control" value="' + StkMiktar + '" />',
                                            Birim: '<input disabled style="font-size:smaller" type="text" class=" birim form-control "  value="' + StkBirim + '" />',
                                            BirimFiyati: '<input  style="font-size:smaller" type="text" onchange="GenelTopla(this)" class=" birimfiyat form-control" value="' + StkBirimFiyati + '" />',
                                            Birim2: '<input  style="font-size:smaller" type="text" onchange="GenelTopla(this)" class="birim2 form-control" value="' + StkBirim + '" />',
                                            Miktar2: '<input style="font-size:smaller" onchange="GenelTopla(this)" type="text" class="miktar2 form-control" value="' + StkMiktar + '" />',
                                            Tutar: '<input disabled style="font-size:smaller" type="text" class="tutar form-control" value="' + StkTutar + '" />',
                                            KDV: '<input  style="font-size:smaller" type="text" class=" kdv form-control" value="' + StkKDV + '" />',
                                            Kaldir: '<button style="background-color:indianred;margin:0px" type="button" value="' + StkKod + '" class="btn btn-md btn-danger  sepetSil"> SİL   <i class="fa fa-trash" aria-hidden="true"></i></button>',
                                            SatirID: '<button style="background-color:indianred;margin:0px; display:none;" type="button" value="-1" class="btn btn-md btn-danger  SatirID"> -1   <i class="fa fa-trash" aria-hidden="true"></i></button>',

                                        };

                                        temizle();
                                        $("#siparis tbody").append("<tr style='font-size:small;'>"+
                                           " <td>" + sutunlar.UrunAdi + "</td> "+
                                           " <td>" + sutunlar.Miktar + "</td>"+
                                           " <td>" + sutunlar.Birim + "</td>"+
                                           " <td class='" + cs + "'>" + sutunlar.BirimFiyati + "</td>" +
                                           " <td class='" + cs1 + "'>" + sutunlar.Miktar2 + "</td>" +
                                           " <td class='" + cs1 + "'>" + sutunlar.Birim2 + "</td>" +

                                           " <td class='" + cs + "'>" + sutunlar.Tutar + "</td>"+
                                           " <td class='" + cs + "'>" + sutunlar.KDV + "</td>" +
                                           " <td>" + sutunlar.Kaldir + "</td></tr>");


                                    }
                                }

                            });



                        }
                    }

                }//

            });

        }


        $("#siparis").on("click", ".sepetSil", function () {
            var row = $(this).closest('tr');


            swal({
                title: "[Silme Onayı]",
                text: "Seçili kaydı silmek istediğinizden emin misiniz?",
                icon: "warning",
                dangerMode: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonText: "Hayır",
                confirmButtonText: "Evet",
                closeOnCancel: true,
                closeOnConfirm: true,

                preConfirm: function () {


                    var id = row.find("td:eq(9) .SatirID").val();

                    if (id != -1) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteYB", "Fatura")/' + id,
                            success: function (data) {
                                if (data.success) {
                                }
                            }


                        });


                    }

                    row.fadeOut(500, function () {
                        row.remove();
                    })

                }

            });

        });


        


        $(document).on("click", ".nakitSatis", function () {

            $(".nakitSatis").disable = false;
            var kaydet = true;


            if ($("#CariID").val() == "" || $("#CariID").val() == "0" || $("#CariID").val() == null) {
                swal("Uyarı", "Cari Giriniz", "warning");
                kaydet = false;
            }
            if ($("#FaturaTipi").val() == "" || $("#FaturaTipi").val() == "0" || $("#FaturaTipi").val() == null || $("#FaturaTipi").val() == "Seçiniz") {
                swal("Uyarı", "Fatura Tipi Seçiniz.", "warning");
                kaydet = false;
            }



            if (kaydet) {

                var data = [];
                var tr = 0;
                var indirim = "0";
                var musID = $("#CariID").val();
                var KdvDh = $("#KdvDh").val();
                var Aciklama = $("#aciklama").val();
                var FaturaTipi = $("#FaturaTipi").val();
                var FaturaTarihi = $("#IslemTarihi").val();
                var SevkTarihi = $("#sevktarihi").val();
                var VadeTarihi = $("#vadetarihi").val();
                var tutar = 0;

                var verivar = false;

                $("#siparis tbody tr").each(function () {
                    data[tr] = new Array(8);
                    data[tr][0] = $(this).find("td:eq(8) .sepetSil").val();
                    data[tr][1] = $(this).find("td:eq(1) .miktar").val();
                    data[tr][2] = $(this).find("td:eq(2) .birim").val();
                    data[tr][3] = $(this).find("td:eq(3) .birimfiyat").val();
                    data[tr][4] = $(this).find("td:eq(7) .kdv").val();
                    data[tr][5] = $(this).find("td:eq(4) .miktar2").val();
                    data[tr][6] = $(this).find("td:eq(5) .birim2").val();
                    data[tr][7] = $(this).find("td:eq(9) .SatirID").val();

                    tr++;
                    verivar = true;


                });



                if (verivar) {
                    $("#btnKaydet").prop('disabled', true);

                    $.ajax({
                        type: "POST",
                        url: '/Fatura/YeniSatis',
                        data: {
                            data: data,
                            indirim: indirim,
                            CariID: musID,
                            Aciklama: Aciklama,
                            KdvDh: KdvDh,
                            Tipi: FaturaTipi,
                            FaturaTarihi: FaturaTarihi,
                            SevkTarihi: SevkTarihi,
                            VadeTarihi: VadeTarihi,
                            FaturaID : $("#FatID").val(),
                            FaturaNo: $("#FaturaNo").val(),
                        },
                        dataType: "json",

                        success: function (g) {
                            if (g.sonuc == "1") {

                                swal({
                                    title: "Başarılı!",
                                    text: g.Mesaj,
                                    type: "success"
                                }).then(function () {


                                    RaporGoster(g.id, 'SI');

                                    var url = '@Url.Action("FaturalarListesi", "Fatura")';
                                    window.location.href = url;

                                });
                            }
                            else if (g.sonuc == "0") {
                                swal("Hata", "Kaydedilemedi", "success");
                            }
                        },
                        error: function () {
                            swal("Hata", "HATA OLUŞTU!", "error");
                        }

                    });
                }
                else {
                    swal("Uyarı", "En Az bir ürün ekleyiniz", "warning");
                }

            }

        });

        function Topla() {
            var age = Number(document.getElementById("Miktar").value.replace(",", "."));
            var age1 = Number(document.getElementById("BirimFiyati").value.replace(",", "."));

            var total = 0;
            total = parseFloat(age) * parseFloat(age1);


            var sayi = total;
            sayi = Number(sayi.toFixed(2));


            document.getElementById("Tutar").value = sayi.toFixed(2).replace(".", ",");
        }


        function AddRow() {

            alert(1);


            t.row.add([
                '1',
                "ekle",
                "çıkart",
                'ürün adı',
                'miktar',
                'fiyat',
                'tutar',
                'sil'

            ]).draw(false);


        }



        $(document).ready(function () {


            var t = $('#example').DataTable({
                dom: 'tp',

            });
            var counter = 1;
            t.row.add([
                '1',
                "ekle",
                "çıkart",
                'ürün adı',
                'miktar',
                'fiyat',
                'tutar',
                'sil'
                
            ]).draw(false);

            $(".digit").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && e.which != 44 && (e.which < 48 || e.which > 57)) {
                    $("#errormsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Seçiniz",
                allowClear: true
            });

        });



        dipToplam();
        $('#Miktar').on("keyup", function () {
            Topla();
        });

        $("#StokKodu").change(function () {
            var end = this.value;
            FiyatGetir(end, "");

        });
            $("#KdvDh").change(function () {
                dipToplam();

            });

        $("#CariID").change(function () {
            var end = this.value;
            CariGetir(end);

        });



        $('#BirimFiyati').on("keyup", function () {
            Topla();
        });

        $('#Barkod').on("keyup", function (event) {
            var end = this.value;

            if (event.keyCode === 13) {
                event.preventDefault();
                FiyatGetir(-1, end);

            }
        });
        $("#cariveri").on("submit", function (event) {
            event.preventDefault();

            var obj = {
                id: $("#carID").val(),
                FirmaKodu: $("#FirmaK").val(),
                CariUnvan: $("#CariU").val(),
                Il: $("#Il").val(),
                EkBilgi: $("#EkBilgi").val(),
                Adres: $("#Adres").val(),
                EPosta: $("#EPos").val(),
                Gsm: $("#Gsm").val(),
                Telefon1: $("#Telefon1").val(),
                KTipi: $("#KTip").val(),
                StokFG: $("#StokFG").val(),
                CariGrubu: $("#CariGrubu").val(),
                VergiDr: $("#VergiDr").val(),
                VergiNo: $("#VergiNo").val(),
                PostaKodu: $("#PostaKodu").val(),
                Yetkili: $("#Yetkili").val(),
                Milleti: $("#Ulke").val(),
                Faks: $("#Faks").val(),
                Yetkili: $("#Yetkili").val(),
                ozelAlan1: $("#ozelAlan1").val(),
                ozelAlan2: $("#ozelAlan2").val(),
                ozelAlan3: $("#ozelAlan3").val(),
                ozelAlan4: $("#ozelAlan4").val(),
                ozelAlan5: $("#ozelAlan5").val(),
                TCNo: $("#TCNo").val(),
                ParaBirimi: $("#ParaBirimi").val(),
                Iskonto: $("#Iskonto").val(),
                MersisNo: $("#MersisNo").val(),
                TicaretSicilNo: $("#TicaretSicilNo").val(),
                BagkurNo: $("#BagkurNo").val(),
                WebKA: $("#WebKA").val(),
                WebSifre: $("#WebSifre").val(),
                Ilce: $("#Ilce").val(),
                WebSite: $("#WebSite").val(),
                MusteriTemsilcisi: $("#MusteriTemsilcisi").val(),
            };


            var alacakB = $("#alacakB").val();
            var borcB = $("#borcB").val();

            $.ajax({
                type: "POST",
                url: '/Tables/YeniCari',
                data: { cr: obj, alacakINT: alacakB, borcINT: borcB },
                dataType: "json",
                success: function (gelenDeg) {

                    if (gelenDeg.sonuc == "0")
                        swal("Uyarı", gelenDeg.Message, "warning");
                    else if (gelenDeg.sonuc == "3")
                        swal("Hata", gelenDeg.Message, "error");
                    else if (gelenDeg.sonuc == "1") {

                        swal("Başarılı", gelenDeg.Message, "success");
                        {

                            window.location.href = "/Fatura/YeniSatis";
                            $('#UyeOl').modal('hide');
                            Temizle();



                            setTimeout(oTable.ajax.reload(), 300);

                        }


                    }

                },
                error: function () {
                    swal("Hata", "Kayıt Eklenirken Hata Oluştu!", "error");
                },
            });
        });


        $("#stokveri").on("submit",
            function (event) {
                event.preventDefault();


                var dg = {
                    sf: $("#SatishFiyat").val(),
                    af: $("#AlishFiyat").val(),
                    F2: $("#F2").val(),
                    F3: $("#F3").val(),
                    F4: $("#F4").val(),
                    F5: $("#F5").val(),
                    F6: $("#F6").val(),

                };

                var obj = {
                    id: $("#sID").val(),
                    StokKodu: $("#StokK").val(),
                    UrunAdi: $("#UrunA").val(),
                    Barkod: $("#YeniBarkod").val(),
                    StoktaKalan: $("#StoktaKalan").val(),


                    AlishFiyat: $("#AlishFiyat").val(),
                    //buraya kar oranının kayıt edileceği yer gelecek
                    SatishFiyat: $("#SatishFiyat").val(),
                    Marka: $("#Marka").val(),
                    Grubu: $("#Grubu").val(),
                    KDV: $("#YeniKDV").val(),
                    Birimi: $("#Birimi").val(),
                    ParaBirimi: $("#ParaBirimi").val(),
                    UrunTuru: $("#UrunTuru").val(),
                    KalanStkU: $("#KalanStkU").val(),
                    //KisaKod: $("#KisaKod").val(),
                    //PartiNo: $("#PartiNo").val(),
                    //Detay2: $("#Detay2").val(),
                    //OEM: $("#OEM").val(),


                    //P2: $("#P2").val(),
                    //P3: $("#P3").val(),
                    //P4: $("#P4").val(),
                    //P5: $("#P5").val(),
                    //P6: $("#P6").val(),

                    //BRM2: $("#BRM2").val(),
                    //BRM3: $("#BRM3").val(),
                    //BRM4: $("#BRM4").val(),
                    //BRM5: $("#BRM5").val(),
                    //BRM6: $("#BRM6").val(),

                    //nbadet2: $("#nbadet2").val(),
                    //nbadet3: $("#nbadet3").val(),
                    //nbadet4: $("#nbadet4").val(),
                    //nbadet5: $("#nbadet5").val(),
                    //nbadet6: $("#nbadet6").val(),

                    // Brkd2: $("#Brkd2").val(),
                    // Brkd3: $("#Brkd3").val(),
                    // Brkd4: $("#Brkd4").val(),
                    // Brkd5: $("#Brkd5").val(),
                    // Brkd6: $("#Brkd6").val(),

                    //Marka: $("#Marka").val(),
                    //Grubu: $("#Grubu").val(),
                    //KDV: $("#KDV").val(),
                    //Birimi: $("#Birimi").val(),
                    //ParaBirimi: $("#ParaBirimi").val(),
                    //UrunTuru: $("#UrunTuru").val(),
                    //KisaKod: $("#KisaKod").val(),
                    //PartiNo: $("#PartiNo").val(),
                    //Detay2: $("#Detay2").val(),
                    //OEM: $("#OEM").val(),
                };


                $.ajax({
                    type: "POST",
                    url: '/Stok/YeniStok',
                    data: { st: obj, dg: dg },
                    dataType: "json",
                    success: function (gelenDeg) {

                        if (gelenDeg.sonuc == "0") {
                            swal("Uyarı", gelenDeg.Message, "warning");
                            $('#UyeOl').modal('hide');
                        }
                        else if (gelenDeg.sonuc == "3") {
                            swal("Hata", gelenDeg.Message, "error");
                            $('#UyeOl').modal('hide');
                        }
                        else if (gelenDeg.sonuc == "1") {
                            swal("Başarılı", gelenDeg.Message, "success");
                            {
                                window.location.href = "/Fatura/YeniSatis";
                                $('#stokid').modal('hide');
                                Temizle();
                                location.reload(true);
                                setTimeout(oTable.ajax.reload(), 300);
                            }

                        }

                    },
                    error: function () {
                        swal("Hata", "Kayıt Eklenirken Hata Oluştu!", "error");
                    }
                });
            });

    </script>
}




