@using SaTeknopark_MVC5.Models
@model CASH_PAY
@{
    ViewBag.Title = "Yeni Tahsilat";
    string PersonelAdi = "";
}


<div class="wrapper wrapper-content animated fadeInRight">


    @if (Session["PersonelID"] != null)
    {
        PersonelAdi = AyarMetot.SeciliPersonelBilgiCek("Adi+' '+Soyadi", Session["PersonelID"].ToString());

    }


    <style>
        .baslik {
            font-weight: 900;
        }
        i{
            width:30px;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li><a class="nav-link active" data-toggle="tab" href="#tab-1" style="font-size:large"> <b>Tahsilat</b></a></li>

                </ul>
                <div class="tab-content" style="box-shadow:8px 12px 14px 4px gray">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">

                            <form id="veri" method="post" action="/Tables/YeniTahsilat">


                                <div class="form-group row">
                                    <label class="col-md-2 baslik"><i class="fas fa-money-check" style="width:30px"></i>İşlem Türü</label>


                                    @if (Model.ID != 0)
                                    {
                                        if (Model.IslemTipi == "T")
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT" checked="checked">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                    <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.IslemTipi == "O")
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO" checked="checked">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                    <label for="odemeturu_3" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.IslemTipi == "G")
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH" checked="checked">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                    <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.IslemTipi == "H")
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH" checked="checked">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                    <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.IslemTipi == "KKT")
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti" checked="checked">
                                                    <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-8">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                    <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                        <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                    <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                                </div>
                                                @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                        <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                    </div>
                                                }
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                    <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-8">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input name="odemeturu" id="odemeturu_0" type="radio" required="required" class="custom-control-input" value="nakitT">
                                                <label for="odemeturu_0" class="custom-control-label">Nakit Tahsilat</label>
                                            </div>
                                            @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                            {

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_1" type="radio" required="required" class="custom-control-input" value="nakitO">
                                                    <label for="odemeturu_1" class="custom-control-label">Nakit Ödeme</label>
                                                </div>


                                            }
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input name="odemeturu" id="odemeturu_2" type="radio" required="required" class="custom-control-input" value="GelenH">
                                                <label for="odemeturu_2" class="custom-control-label">Gelen Havale</label>
                                            </div>
                                            @if (Session["Grubu"].ToString() != "Teknik Servis Kullanıcısı")
                                            {

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input name="odemeturu" id="odemeturu_3" type="radio" required="required" class="custom-control-input" value="GidenH">
                                                    <label for="odemeturu_3" class="custom-control-label">Giden Havale</label>
                                                </div>
                                            }
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input name="odemeturu" id="odemeturu_4" type="radio" required="required" class="custom-control-input" value="kredikarti">
                                                <label for="odemeturu_4" class="custom-control-label">Kredi Kartı</label>
                                            </div>
                                        </div>

                                    }


                                </div>

                                <div class="form-group row KasaDiv">
                                    <label for="cari" class="col-md-2 baslik col-form-label"><i class="fas fa-briefcase"></i>Kasalar</label>

                                    @if (Model.ID == 0)
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisKasaID", new SelectList(AyarMetot.Kasalar(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.vKasaID),
                                                 new { @id = "ThisKasaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }
                                    else if (Session["Grubu"].ToString() == "Teknik Servis Kullanıcısı")
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisKasaID", new SelectList(AyarMetot.Kasalar(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.vKasaID),
                                                new { @id = "ThisKasaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisKasaID", new SelectList(AyarMetot.Kasalar(Session["FirmaID"].ToString()), "Value", "Text", Model.KasaID),
                                                 new { @id = "ThisKasaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }


                                </div>

                                <div class="form-group row BankaDiv">
                                    <label for="cari" class="col-md-2 col-form-label baslik"><i class="fas fa-piggy-bank"></i>Bankalar</label>

                                    @if (Model.ID == 0)
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisBankaID", new SelectList(AyarMetot.Bankalar(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.vBankaID),
                                                new { @id = "ThisBankaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }
                                    else if (Session["Grubu"].ToString() == "Teknik Servis Kullanıcısı")
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisBankaID", new SelectList(AyarMetot.Bankalar(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.vBankaID),
                                                new { @id = "ThisBankaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("ThisBankaID", new SelectList(AyarMetot.Bankalar(Session["FirmaID"].ToString()), "Value", "Text", "001-MERKEZ"),
                                                new { @id = "ThisBankaID", @class = "select2_demo_3 form-control", @style = "font-size:x-small" })

                                        </div>
                                    }
                                </div>

                                <div class="form-group row">
                                    <label for="Tutar" class="col-md-2 col-form-label baslik"><i class="fas fa-sort-numeric-up-alt"></i>İşlem No</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            @if (Model.ID == 0)
                                            {
                                                <input id="IslemNo" name="IslemNo" type="text" class="form-control" value="@ViewBag.MasrafSiradakiNo" />
                                            }
                                            else
                                            {

                                                <input id="IslemNo" name="IslemNo" type="text" class="form-control" value="@Model.IslemNo" />

                                            }
                                        </div>
                                    </div>

                                </div>



                                <div class="form-group row">
                                    <label for="cari" class="col-md-2 col-form-label baslik"><i class="fas fa-user-circle"></i>Cari</label>

                                    @if (Model.ID != 0)
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("CariID", new SelectList(AyarMetot.Cariler(Session["FirmaID"].ToString()), "Value", "Text", Model.CariID),
                                                "Tüm Cariler", new { @id = "CariID", @class = "select2_demo_3 form-control", @style = "font-size:x-small; width:380px" })


                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("CariID", new SelectList(AyarMetot.Cariler(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.ServisCariID),
                                                "Tüm Cariler", new { @id = "CariID", @class = "select2_demo_3 form-control", @style = "font-size:x-small; width:380px" })

                                        </div>
                                    }


                                </div>

                                <div class="form-group row">
                                    <label for="cari" class="col-md-2 col-form-label baslik"><i class="fas fa-user-circle"></i>Özel Kod</label>

                                    @if (Model.ID != 0)
                                    {
                                    <div class="col-md-4">
                                        @Html.DropDownList("KodID", new SelectList(AyarMetot.Kodlar(Session["FirmaID"].ToString()), "Value", "Text", Model.CariID), new { @id = "KodID", @class = "select2_demo_3 form-control", @style = "font-size:small" })


                                    </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4">
                                            @Html.DropDownList("KodID", new SelectList(AyarMetot.Kodlar(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.ServisCariID),
                                                "Tüm Kodlar", new { @id = "KodID", @class = "select2_demo_3 form-control", @style = "font-size:x-small; width:380px" })

                                        </div>
                                    }


                                </div>







                                @if (Model.ID == 0)
                                {
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="baslik"><i class="fas fa-user"></i>Personel</label>
                                        </div>

                                        <div class="col-md-4">
                                            @Html.DropDownList("Personel", new SelectList(AyarMetot.Personeller(Session["FirmaID"].ToString()), "Value", "Text", @ViewBag.ServisPersonelID),
                                            new { @id = "Personel", @class = "select2_demo_3 form-control", @style = "font-size:small; width:380px" })

                                        </div>
                                    </div>
                                }


                                @if (Model.ID != 0)
                                {
                                    <div class="form-group row">
                                        <label for="Tutar" class="col-md-2 col-form-label baslik"> <i class="fas fa-money-bill-wave"></i>Tutar</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @*<input onClick="this.setSelectionRange(0, this.value.length);" id="BirimFiyati" name="text" placeholder="BirimFiyati" type="text" class="digit form-control" onchange="GenelTopla(this.value)" min="0" step="0.01" value="0.00">*@
                                                <input id="Tutar" onClick="this.setSelectionRange(0, this.value.length);" name="Tutar" type="number" class="digit form-control" onchange="setTwoNumberDecimal" min="0" step="0.01" value="@Convert.ToInt32(Model.Tutar)" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.DropDownList("ParaBirimi", new SelectList(AyarMetot.PBLER(Session["FirmaID"].ToString()), "Value", "Text", Model.ParaBirimi), new { @id = "ParaBirimi", @class = "form-control", @style = "font-size:small" })
                                            </div>
                                        </div>

                                    </div>
                                }
                                else
                                {<div class="form-group row">
                                        <label for="Tutar" class="col-md-2 col-form-label baslik"><i class="fas fa-money-bill-wave"></i>Tutar</label>

                                        <div class="col-md-2 ">
                                            <div class="input-group">
                                                <input id="Tutar" onClick="this.setSelectionRange(0, this.value.length);" name="Tutar" type="text" class="digit form-control" style="text-align: right" onchange="setTwoNumberDecimal" min="0" step="0.01" value="0.00" />
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="input-group">
                                                @Html.DropDownList("ParaBirimi", new SelectList(AyarMetot.PBLER(Session["FirmaID"].ToString()), "Value", "Text", "TL"),
                                                        new { @id = "ParaBirimi", @class = "form-control", @style = "font-size:small" })
                                            </div>
                                        </div>

                                    </div>
                                }



                                <div class="form-group row">
                                    <label for="Aciklama" class="col-md-2 col-form-label baslik"><i class="fas fa-edit"></i>Açıklama</label>
                                    <div class="col-md-3">

                                        @if (Model.ID != 0)
                                        {
                                            <input id="Aciklama" type="text" name="Aciklama" cols="70" rows="3" class="form-control" value="@Model.Aciklama">
                                        }
                                        else
                                        {
                                            <input id="Aciklama" type="text" name="Aciklama" cols="70" rows="3" class="form-control" value="">
                                        }
                                    </div>
                                </div>





                                @if (Model.ID != 0)
                                {
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            @Html.Hidden("cID", Model.ID, new { @id = "cID" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            @Html.Hidden("cID", -1, new { @id = "cID" })
                                        </div>
                                    </div>

                                }



                                @if (Model.ID != 0)
                                {
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            @Html.Hidden("durum", 0, new { @id = "durum" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            @Html.Hidden("durum", -1, new { @id = "durum" })
                                        </div>
                                    </div>
                                }

                                <div class="col-md-3 px-1">

                                    <div class="form-group">
                                        @Html.Hidden("Grubu", @Session["Grubu"].ToString())
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">

                                    <div class="form-group">
                                        @Html.Hidden("Turu", AyarMetot.ProTerminal)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="offset-4 col-8">
                                        <button type="button" onclick="Kapat()" class="btn btn-default">Vazgeç</button>
                                        <button type="submit" class="btn btn-primary">Kaydet</button>


                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/musteri.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" />
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script src="~/Scripts/Fonksiyonlar.js"></script>
    <script type="text/javascript">

        function Kapat() {

            history.back();
        }

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }

        $("#veri").on("submit", function (event) {
            event.preventDefault();
            var grubu = $("#Grubu").val();
            var Turu = $("#Turu").val();

            var Ksonuc = "T";
            var gelenH = document.getElementById("odemeturu_2").checked;
            var kredik = document.getElementById("odemeturu_4").checked;
            var nakitG = document.getElementById("odemeturu_0").checked;
            if (Boolean(nakitG) == true) Ksonuc = "T";

            if (Boolean(gelenH) == true) Ksonuc = "G";

            if (Boolean(kredik) == true) Ksonuc = "KKT";

            var ozelkodıd = $("#KodID").val();
            if (ozelkodıd == "") {
                ozelkodıd = -1        
            }



            if (grubu != "Teknik Servis Kullanıcısı") {


                var nakitO = document.getElementById("odemeturu_1").checked;
                var gidenH = document.getElementById("odemeturu_3").checked;
                if (Boolean(nakitO) == true) Ksonuc = "O";
                if (Boolean(gidenH) == true) Ksonuc = "H";

            }
            var obj = {
                IslemTipi: Ksonuc,
                IslemNo: $('#IslemNo').val(),
                id: $("#cID").val(),
                CariID: $("#CariID").val(),
                Aciklama: $("#Aciklama").val(),
                Tutar: $("#Tutar").val(),
                ThisKasaID: 0,
                ThisBankaID: 0,
                Parabirimi: $("#ParaBirimi").val(),
                durum: $("#durum").val(),
                Personel: $("#Personel").val(),
                OzelKodID: ozelkodıd,

            };

            if ($("#ThisKasaID").val() != null) {
                obj.ThisKasaID = $("#ThisKasaID").val();
            }
            if ($("#ThisBankaID").val() != null) {
                obj.ThisBankaID = $("#ThisBankaID").val();
            }
            var cariid = $("#CariID").val();
            if ($("#Tutar").val() != "0.00") {
                if (cariid != "") {

                    $.ajax({
                        type: "POST",
                        url: '/Tables/YeniTahsilat',
                        data: obj,
                        dataType: "json",

                        success: function (gelenDeg) {
                            if (gelenDeg.sonuc == "0")
                                swal("Uyarı", gelenDeg.Message, "warning");
                            else if (gelenDeg.sonuc == "3")
                                swal("Hata", gelenDeg.Message, "error");
                            else if (gelenDeg.sonuc == "4")
                                swal("Hata", gelenDeg.Message, "error");
                            else if (gelenDeg.sonuc == "1") {

                                swal({
                                    title: "Başarılı!",
                                    text: gelenDeg.Message,
                                    type: "success"
                                }).then(function () {
                                    //RaporGoster(gelenDeg.cid, 'T');
                                    var url = '@Url.Action("FinansHareketleri", "Finans")';

                                    if (grubu == "Teknik Servis Kullanıcısı") {
                                        url = '@Url.Action("Index","ServisList")';
                                    }
                                    window.location.href = url;
                                    temizle();
                                });
                            }
                        },
                        error: function () {
                            swal("Hata", "Kayıt Eklenirken Hata Oluştu!", "error");
                        }

                    });
                } else {
                    swal("HATA", "Lütfen Cari Seçiniz.", "warning");
                }
            } else {
                swal("UYARI", "Lütfen Tutar Giriniz.", "warning");
            }
        });

        function temizle() {

            $("#Aciklama").val("");
            $("#Tutar").val("0");

        }

        $(document).ready(function () {


            $(".digit").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && e.which != 44 && (e.which < 48 || e.which > 57)) {
                    $("#errormsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });


            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Seçiniz",
                allowClear: true
            });


            $(".KasaDiv").hide('fast');
            $(".BankaDiv").hide('fast');
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "nakitT" || $(this).attr("value") == "nakitO") {
                    $(".KasaDiv").show('fast');
                    $(".BankaDiv").hide('slow');
                }
                if ($(this).attr("value") == "GelenH" || $(this).attr("value") == "GidenH") {
                    $(".KasaDiv").hide('slow');
                    $(".BankaDiv").show('fast');

                }
                if ($(this).attr("value") == "kredikarti") {
                    $(".KasaDiv").hide('slow');
                    $(".BankaDiv").show('fast');

                }
            });

            //$('input[type="radio"]').trigger('click');  // trigger the event

        });


    </script>
}
