@using SaTeknopark_MVC5.Models
@model List<TECHNICAL>

@{
    ViewBag.Title = "Servis Listesi";
}

<link href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js' rel='stylesheet' type='text/css'>

<div class="wrapper wrapper-content animated fadeInRight pb-2">
    @if (Session["PersonelType"].ToString() != "4")
    {
        <div>

            <p align="right"><font size="5" style="color: black"> <strong> Cari Durum :</strong> <label> @ViewBag.Value1 @ViewBag.Birim1 || @ViewBag.Value2 @ViewBag.Birim2 || @ViewBag.Value3 @ViewBag.Birim3 </label> </font></p>
        </div>
    }
    <div class="ibox-content">



        <div class="row" style="background-color:white">
            <div class="row">
                <div class="col-md-4">
                    <div class="">
                        <label><b>Başlangıç Tarihi</b></label>

                        <input type="date" id="min" class="form-control" value="@Convert.ToDateTime(new DateTime(2020,1,1,0,0,0)).ToString("yyyy-MM-dd")" name="min">
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="pl-0">
                        <label><b>Bitiş Tarihi</b></label>

                        <input type="date" id="max" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="max">
                    </div>
                </div>
                <div class="col-md-4 px-1">
                    <div class="form-group">
                        <label><b>Servis Durumu</b></label>
                        @Html.DropDownList("ServisDurum", new SelectList(AyarMetot.BakimList(), "Value", "Text", "Tüm Durumlar"), new { @id = "ServisDurum", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="Tumdurumlar" class="btn btn-outline-primary btn-xs" value="Tüm Durumlar" onclick="Filtre(this.value)">TÜM DURUMLAR</button>
                <button id="GirisYapildi" class="btn btn-outline-danger btn-xs" value="GİRİŞ YAPILDI" onclick="Filtre(this.value)">GİRİŞ YAPILDI</button>
                <button id="MontajYapildi" class="btn btn-outline-warning btn-xs" value="MONTAJ TAMAMLANDI" onclick="Filtre(this.value)">MONTAJ TAMAMLANDI</button>
                <button id="BakimYapildi" class="btn btn-outline-success btn-xs" value="BAKIM YAPILDI" onclick="Filtre(this.value)">BAKIM YAPILDI</button>
                <button id="KontolEdildi" class="btn btn-outline-info btn-xs" value="KONTROL EDİLDİ" onclick="Filtre(this.value)">KONTROL EDİLDİ</button>
                <button id="ArizaGiderildi" class="btn btn-outline-secondary btn-xs" value="ARIZA GİDERİLDİ" onclick="Filtre(this.value)">ARIZA GİDERİLDİ</button>
                <button id="ServisErtelendi" class="btn btn-outline-danger btn-xs" value="SERVİS ERTELENDİ" onclick="Filtre(this.value)">SERVİS ERTELENDİ</button>
            </div>
        </div>
            
            
            
            

    </div>
    <table class="table table-striped table-bordered table-hover dataTables-example" id="example" style=" width: 100%">
        <thead>
            <tr>
                <th></th>
                <th>Servis Numarası</th>
                <th>Seri No</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Cins</th>
                <th>Ücret</th>
                <th>Detaylar</th>
                <th>Cari Adı</th>
                <th>Cihaz Adresi</th>
                <th></th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>



</div>


<div class="row">


    <div class="modal inmodal " id="UyeOl" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <br />
                    <br />
                    <p style="text-align:left; color: white; background-color: #2f4050;" class="btn btn-success btn-lg" id="myModalLabel"><font size="5">Seri No :  <label style="color: #ffccbc" id="HeaderSeriNo"></label> Marka: <label style="color: #ffccbc" id="HeaderMarka"> </label> Model: <label style="color: #ffccbc" id="HeaderModel"> </label> </font></p>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>


                    <div class="modal-body">
                        <form class="form-horizontal" method="POST" commandName="announceBean">
                            <input type="hidden" name="cafeId" value="" />
                            <fieldset>
                                <p><font size="5"> <strong> Açıklama :</strong>  <label id="aciklama"> </label> </font></p>
                                <p><font size="5"><strong>Teknisyen Açıklaması :</strong> <label id="Onrapor"></label> </font></p>
                                <p><font size="5"><strong>Arıza Tespit Açıklaması :</strong> <label id="ArizaTespit"></label> </font></p>
                                <p><font size="5"><strong>Onarım Rapor Durumu :</strong>  <label id="OnarimRapor"></label></font></p>
                                <p><font size="5"><strong>Tarih :</strong>  <label id="Tarih"></label></font></p>

                            </fieldset>

                            <strong type="text"> <font size="5"><button style="background: #2f4050; color: white"> <label id="HeaderServisDurum"></label> </button> </font> </strong>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>



</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}

@section Scripts {

    <script src="~/Content/DataTables/datatables.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment.min.js"></script>



    <script type="text/javascript">


        var dt;


        function Durum(id) {


            $.ajax({
                type: "GET",
                url: '@Url.Action("SBilgi", "ServisList")/' + id,
                success: function (gt) {
                    if (gt.success) {
                        $("#aciklama").text(gt.data.Sikayet);
                        $("#Onrapor").text(gt.data.OnRapor);
                        $("#ArizaTespit").text(gt.data.ArizaTespit);
                        $("#OnarimRapor").text(gt.data.OnarimRapor);
                        $("#Tarih").text(gt.data.Tarih);
                        $("#HeaderSeriNo").text(gt.data.Serino);
                        $("#HeaderMarka").text(gt.data.Marka);
                        $("#HeaderModel").text(gt.data.Model);
                        $("#HeaderServisDurum").text(gt.data.Durum);
                    }
                }

            });
        }


        


        function Goster(id) {
            var sayi ='-2'
            window.location.href = "/Servis/yeniServis?id=" + id;

        }
        function Gonder(id) {
            window.location.href = "/Tables/YeniTahsilat?id=" + id;

        }


        function Yazdır(id) {

            window.open("/Servis/ServisYazdir?ID=" + id);

        }
        $.fn.dataTableExt.afnFiltering.push(
          function (oSettings, aData, iDataIndex) {
                var min = moment(document.getElementById('min').value).format('YYYY.MM.DD');
                var max = moment(document.getElementById('max').value).format('YYYY.MM.DD');
                var iStartDateCol = 13;
                var iEndDateCol = 13;
                min = min.substring(0, 4) + min.substring(5, 7) + min.substring(8, 10);
                max = max.substring(0, 4) + max.substring(5, 7) + max.substring(8, 10);
              var datofini = aData[iStartDateCol].substring(6, 10) + aData[iStartDateCol].substring(3, 5) + aData[iStartDateCol].substring(0, 2);


              var genel = true;

                if (min === "" && max === "") {
                  
                }
                else if (min > datofini && max == "") {

                    genel = false;
                } else if (max < datofini && min == "") {

                    genel = false;
                }
                else if (min > datofini || max < datofini) {
                    
                    genel = false;
                }

                var id = $("#ServisDurum").val() ;
                        
                 var column = aData[3];
                        
                 if (id === "" && column === "") {
               
                   }
                 else if (id == "Tüm Durumlar") {
               
                    }
                    else if (id != column) {
                  genel = false;
                    }

              return genel;
            }
        );
        
        $(document).ready(function () {


            $("#min").change(function () {
                var end = this.value;


                //alert(end);
                dt.draw();

            });
            $("#ServisDurum").change(function () {
                var end = this.value;
                dt.draw();

            });
            $("#max").change(function () {
                var end = this.value;

                dt.draw();

            });
            dt = $('#example').DataTable({
                pageLength: 10,
                "order": [[ 0, "desc" ]],
                "ajax": {
                    "url": "/ServisList/GetServis",
                    "type": "GET",
                    "datatype": "json",
                },
                "fnRowCallback": function(nRow, aData) {
                    if (aData[0] == 'SER004') {
                        $('td', nRow).css('color', '#ff0011');
                        // $('td', nRow).css('font-size','smaller');
                    }

                    return nRow;
                },
                "lengthMenu": [[10, 15, 25, 50, -1], [10, 15, 25, 50, "Tümü"]],
                stateSave: true,
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
                        "rows": {
                            "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                },
                dom: 'Blfgtir',
                buttons: true,
                buttons: [
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                ],
                "scrollX": true,
                "columns": [
                         { "data": "Sira" },
                    { "data": "ServisIslemNo"},
                    { "data": "Serino" },
                    { "data": "Durum" },
                    { "data": "IslemTarihiF" },
                    { "data": "Marka" },
                    { "data": "Model" },
                    { "data": "Cinsi" },
                    { "data": "GenelToplam", className: "text-right" },
                    {
                        "data": null, "render": function (data, type, row) {

                            return "<a style='color:white' onclick='Durum(" + row.ID +")' class='btn btn-xs btn-primary' data-target='#UyeOl' data-toggle='modal' data-id='"+row.ID+"'>Detaylar</a>";
                       },

                    },
                    { "data": "CariUnvan" },
                    { "data": "CihazAdresi" },
                    {
                        "data": null, "render": function (data, type, row) {

                            return " <div class='btn-group'> "+
                                "<a onclick=Goster(" + row.ID + ") style='color:white;margin-left:2px' class='btn-warning btn btn-xs'>Düzenle</a></div>" +
                                "<a style='color:white;margin-left:2px' class='btn-success btn btn-xs' onclick=Gonder(" + row.ID + ") data-toggle='' data-target=''>Yeni Tahsilat</a></div>" +
                                "<a onclick=Yazdır(" + row.ID + ") style='color:white;margin-left:2px' class='btn-primary btn btn-xs'>Yazdır</a></div>"+
                            "</div>";

                        },

                    },
                    {
                        "data": "IslemTarihiF", "visible": false

                    },
                ],
            });
            $('#example tbody').on('dblclick', 'tr', function () {

                var data = oTable.row(this).data();


                Goster(data.ID);

            });






            function format ( d ) {
                return 'Tarih: '+d.Tarih+'<br>'+
                    'Toplam Ücret: '+d.GenelToplam +'<br>';
            }
            var detailRows = [];
            $('#example tbody').on( 'click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dt.row( tr );
                var idx = $.inArray( tr.attr('id'), detailRows );
                if ( row.child.isShown() ) {
                    tr.removeClass( 'details' );
                    row.child.hide();
                    // Remove from the 'open' array
                    detailRows.splice( idx, 1 );
                }
                else {
                    tr.addClass( 'details' );
                    row.child( format( row.data() ) ).show();
                    // Add to the 'open' array
                    if ( idx === -1 ) {
                        detailRows.push( tr.attr('id') );
                    }
                }
            } );
            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on( 'draw', function () {
                $.each( detailRows, function ( i, id ) {
                    $('#'+id+' td.details-control').trigger( 'click' );
                } );
            });
        });

        function Filtre(durum) {


            $("#ServisDurum").val(durum);

            dt.draw();

        }
        
    </script>
}